@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    font-family: 'Reem Kufi', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:active {
    color: #DD7761;
}

body {
    background-color: #F9F6F2;
    padding-bottom: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

a {
    color: black;
    text-decoration: none;
}

nav a:nth-child(2) {
    border: #DD7761 solid 2px;
    border-radius: 50%;
    padding: 10px 10px;
}

nav li {
    list-style: none;
}

.home h1 {
    color: #DD7761;
    margin-bottom: 10px;
    font-size: 2.65rem;
    font-weight: 400;
}

.home {
    padding: 10px 30px;
}

.home h3 {
    font-size: 1.3rem;
}

.about:nth-of-type(2) div {
    float: right;
    padding-bottom: 90px;
}

.about ol {
    margin: 10px 0 0 10px
}

.about ol li {
    padding: 10px 0;
}

.projects {
    padding: 30px;
}

.projects h1 {
    border-bottom: 3px solid black;
}

.contact {
    padding: 30px;
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact div {
    display: flex;
}

.white-lies-entertainment section, .white-lies-entertainment main, .eye-see-chch section, .eye-see-chch main, .the-getaway section, .the-getaway main {
    padding: 30px;
}

.role, .link {
    margin: 20px 0;
}

.role p:nth-child(1), .link p:nth-child(1) {
    color: grey;
}

.bg-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.one .bg-img {
    background-size: cover;
}

.one, .three, .five, .seven, .nine {
    background-color: white;
}

.eye-see-chch img, .white-lies-entertainment img, .the-getaway img {
    width: 100%;
}

.try {
    display: none;
}

.white-lies-entertainment .one .bg-img {
    background-size: contain;
}

.white-lies-entertainment .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-lies-entertainment .colours div:nth-child(1) {
    background-color: #A0FFF9;
}

.white-lies-entertainment .colours div:nth-child(2) {
    background-color: #1487AB;
}

.white-lies-entertainment .colours div:nth-child(3) {
    background-color: #10111D;
}

.white-lies-entertainment .font {
    height: 50vh;
}

.white-lies-entertainment .six {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-lies-entertainment .six img:nth-of-type(2) {
    height: 70vh;
    width: auto;
    padding-top: 20px;
}

.white-lies-entertainment .seven {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 60px;
    font-weight: 700;
}

.eye-see-chch .eight .bg-img {
    height: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F9F6F2;
    position: fixed;
}

footer a {
    color: #DD7761;
    font-size: 1.3rem;
}

@media only screen and (max-width: 400px) {

    nav {
        border-bottom: 2px solid #DD7761;
        margin: 0 20px;
        padding: 20px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .about {
        padding: 30px;
    }

    .about h2 {
        padding-bottom: 20px;
    }

    .about p {
        padding-bottom: 20px;
        font-size: 1.1rem;
    }

    .about h3 {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    .about h4 {
        font-size: 1.3rem;
        padding-bottom: 10px;
    }

    .projects h1 {
        padding: 30px 10px 10px;
        line-height: 60px;
        font-size: 8.5vw;
    }

    .contact div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact p {
        padding: 10px;
    }

    .contact .sm {
        font-size: 7vw;
    }

    .contact .email {
        font-size: 5vw;
        word-break: break-all;
    }

    .contact .lg {
        font-size: 14vw;
    }

    .white-lies-entertainment main, .eye-see-chch main, .the-getaway main {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 30px;
    }

    .white-lies-entertainment h1, .eye-see-chch h1, .the-getaway h1 {
        font-size: 2.4rem;
    }

    .white-lies-entertainment .main-text p, .eye-see-chch .main-text p, .the-getaway .main-text p {
        font-size: 1.2rem;
        padding: 20px 0;
    }

    .white-lies-entertainment .one, .eye-see-chch .one, .the-getaway .one {
        padding: 0;
    }

    .white-lies-entertainment .text, .eye-see-chch .text, .the-getaway .text {
        width: 100%;
        min-height: 50vh;
        padding: 30px;
    }

    .white-lies-entertainment h3, .eye-see-chch h3, .the-getaway h3 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .white-lies-entertainment h4, .eye-see-chch h4, .the-getaway h4 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .white-lies-entertainment p, .eye-see-chch p, .the-getaway p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .role, .link {
        padding-left: 30px;
    }

    .role p, .link p {
        font-size: 1.4rem;
    }

    .bg-img {
        width: 100%;
        height: 50vh;
    }

    .eye-see-chch .five .bg-img {
        background-size: contain;
    }

    .eye-see-chch .six, .eye-see-chch .two, .the-getaway .two, .the-getaway .four {
        padding: 50px 30px;
    }
    
    .eye-see-chch .six h3, .eye-see-chch .two h3 {
        text-align: center;
    }

    .the-getaway .img {
        display: flex;
        flex-direction: row;
    }

    .the-getaway .img img {
        max-width: 50%;
        padding: 20px;
        height: auto;
    }

    .white-lies-entertainment .img {
        flex-direction: column;
    }

    .white-lies-entertainment .colours div {
        width: 30vw;
        height: 30vw;
    }

    .white-lies-entertainment .five img {
        width: 80%;
    }

    .white-lies-entertainment .seven p {
        font-size: 1.5rem;
    }

    .bottom-bar {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .bottom-bar div {
        width: 100%;
        padding: 20px 0;
    }

    .bottom-bar div:nth-of-type(2) p {
        font-size: 7vw;
        float: right;
        text-decoration: underline;
        text-underline-offset: 10px;
        padding: 0 10px;
    }

}

@media only screen and (min-width: 400px) and (max-width: 700px) {

    nav {
        padding: 30px;
    }

    nav ul{
        display: flex;
        align-items: center;
    }

    nav ul li {
        margin: 0 20px;
    }

    .about {
        padding: 30px 100px;
    }

    .about h2 {
        margin-bottom: 20px;
    }

    .about p {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .projects h1 {
        font-size: 6vw;
        padding: 40px 10px 20px;
    }

    .contact div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }

    .contact .line {
        background-color: black;
        height: 2px;
        width: 4vw;
        margin: 0 20px;
    }

    .contact .med {
        width: 80%;
    }

    .contact .sm {
        font-size: 2.5vw;
    }

    .contact .email {
        font-size: 3vw;
    }

    .contact .lg {
        font-size: 7vw;
    }

    .white-lies-entertainment main, .eye-see-chch main, .the-getaway main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }

    .white-lies-entertainment .sub-text, .eye-see-chch .sub-text, .the-getaway .sub-text {
        width: 40%;
        padding: 20px 0;
        font-size: 1.2rem;
    }

    .white-lies-entertainment .five img {
        width: 80%;
    }

    .role, .link {
        margin: 40px 0;
    }

    .white-lies-entertainment .main-text, .eye-see-chch .main-text, .the-getaway .main-text {
        width: 60%;
        padding: 0 20px;
    }

    .white-lies-entertainment h1, .eye-see-chch h1, .the-getaway h1 {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .white-lies-entertainment .main-text p, .eye-see-chch .main-text p, .the-getaway .main-text p {
        font-size: 1.2rem;
    }

    .white-lies-entertainment .one, .eye-see-chch .one, .the-getaway .one {
        padding: 0;
    }

    .white-lies-entertainment .text, .eye-see-chch .text, .the-getaway .text {
        width: 100%;
        min-height: 50vh;
        padding: 30px;
    }

    .white-lies-entertainment h3, .eye-see-chch h3, .the-getaway h3 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .white-lies-entertainment h4, .eye-see-chch h4, .the-getaway h4 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .white-lies-entertainment p, .eye-see-chch p, .the-getaway p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .role, .link {
        padding-left: 30px;
    }

    .role p, .link p {
        font-size: 1.4rem;
    }

    .bg-img {
        width: 100%;
        height: 50vh;
    }

    .eye-see-chch .five .bg-img {
        background-size: contain;
    }

    .eye-see-chch .six, .eye-see-chch .two, .the-getaway .two, .the-getaway .four, .white-lies-entertainment .six {
        padding: 50px 30px;
    }

    .eye-see-chch .six h3, .eye-see-chch .two h3 {
        text-align: center;
    }

    .the-getaway .img {
        display: flex;
        flex-direction: row;
    }

    .the-getaway .img img {
        max-width: 50%;
        padding: 20px;
        height: auto;
    }

    .white-lies-entertainment .colours div {
        width: 30vw;
        height: 30vw;
    }

    .white-lies-entertainment .img {
        flex-direction: column;
    }

    .white-lies-entertainment .img img {
        padding: 10px 0;
    }

    .white-lies-entertainment .seven p {
        font-size: 1.5rem;
    }

    .bottom-bar {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .bottom-bar div {
        width: 100%;
        padding: 20px 0;
    }

    .bottom-bar div:nth-of-type(2) p {
        font-size: 7vw;
        float: right;
        text-decoration: underline;
        text-underline-offset: 10px;
        padding: 0 10px;
    }

}

@media only screen and (min-width: 700px) {

    nav {
        padding: 30px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav ul li {
        margin: 0 30px;
    }

    nav a, footer a {
        transition: ease all 1s;
    }

    nav a:hover, footer a:hover {
        color: #DD7761;
        transform: scale(1.1);
    }

    .contact a:hover {
        color: #DD7761;
    }

    .home {
        display: flex;
    }

    .home div {
        flex: 1;
    }

    .home div:nth-child(2) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 70vh;
        padding: 0 50px;
    }

    .home h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .home h3 {
        font-size: 1.6rem;
    }

    .about {
        padding: 30px 100px;
    }

    .about:nth-of-type(1) {
        display: flex;
    }

    .about:nth-of-type(1) div {
        flex: 1;
    }

    .about h2 {
        padding-bottom: 20px;
        font-size: 2rem;
    }

    .about p {
        font-size: 1.2rem;
        padding-bottom: 20px;
    }

    .about h3 {
        font-size: 1.8rem;
        padding-bottom: 10px;
    }

    .about h4 {
        font-size: 1.5rem;
    }

    .about ol {
        font-size: 1.2rem;
    }

    .projects h1 {
        font-size: 6vw;
        padding: 40px 10px 20px;
    }

    .contact div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }

    .contact .line {
        background-color: black;
        height: 5px;
        width: 4vw;
        margin: 0 20px;
    }

    .contact .med {
        width: 80%;
    }

    .contact .sm {
        font-size: 2.5vw;
    }

    .contact .email {
        font-size: 3vw;
    }

    .contact .lg {
        font-size: 7vw;
    }

    .projects a:hover {
        color: #DD7761;
    }

    .white-lies-entertainment main, .eye-see-chch main, .the-getaway main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }

    .white-lies-entertainment .sub-text, .eye-see-chch .sub-text, .the-getaway .sub-text {
        width: 40%;
        padding: 20px 40px;
        font-size: 1.2rem;
    }

    .role, .link {
        margin: 40px 0;
    }

    .white-lies-entertainment .main-text, .eye-see-chch .main-text, .the-getaway .main-text {
        width: 60%;
    }

    .white-lies-entertainment h1, .eye-see-chch h1, .the-getaway h1 {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    .white-lies-entertainment .main-text p, .eye-see-chch .main-text p, .the-getaway .main-text p {
        font-size: 1.5rem;
        padding-right: 100px;
    }

    .white-lies-entertainment section, .eye-see-chch section, .the-getaway section {
        display: flex;
        min-height: 70vh;
        flex-direction: row;
        align-items: center;
    }

    .white-lies-entertainment section div, .eye-see-chch section div, .the-getaway section div {
        flex: 1;
    }

    .white-lies-entertainment .one, .eye-see-chch .one, .the-getaway .one {
        padding: 0;
    }

    .white-lies-entertainment .text, .eye-see-chch .text, .the-getaway .text {
        width: 50%;
        height: 100%;
        padding: 60px;
    }

    .white-lies-entertainment h3, .eye-see-chch h3, .the-getaway h3 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .white-lies-entertainment h4, .eye-see-chch h4, .the-getaway h4 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .white-lies-entertainment p, .eye-see-chch p, .the-getaway p {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .white-lies-entertainment .five img {
        width: 100%;
    }

    .role, .link {
        padding-left: 30px;
    }

    .role p, .link p {
        font-size: 1.4rem;
    }

    .bg-img {
        width: 50%;
        height: 80vh;
    }

    .eye-see-chch .five .bg-img {
        background-size: contain;
    }

    .eye-see-chch .six, .eye-see-chch .two, .eye-see-chch .ten, .the-getaway .two, .the-getaway .four, .white-lies-entertainment .six {
        padding: 50px 30px;
        flex-direction: column;
    }

    .white-lies-entertainment .six img {
        padding-bottom: 20px;
    }

    .white-lies-entertainment .seven p {
        font-size: 1.7rem;
        width: 50%;
    }

    .circle {
        width: 20vw;
        height: 20vw;
    }

    .columns {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .columns div {
        width: 45%;
        padding: 60px;
    }

    .eye-see-chch .six h3, .eye-see-chch .two h3 {
        text-align: center;
    }

    .img {
        display: flex;
        padding: 20px;
    }

    .img img {
        width: 50%;
        margin: 0 10px;
    }

    .the-getaway .eight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .the-getaway .eight .img {
        width: 50%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px
    }

    .the-getaway .eight .img img {
        height: 80%;
        width: auto;

    }

    .bottom-bar {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .bottom-bar div {
        width: 100%;
        padding: 20px 0;
    }

    .bottom-bar div:nth-of-type(2) p {
        font-size: 4vw;
        float: right;
        text-decoration: underline;
        text-underline-offset: 10px;
        padding: 0 10px;
    }

}